html, body { border: 0; margin: 0; padding: 0; }
body { background:#F2F2F2; font: 62.5% "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; min-width: 100%; color: #666; }

#content p, label, legend { font: 1.8em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; }

#content h1 { margin: 10px 0 10px; font-size: 24px; color: #333333; font-style:oblique; }
#content hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }

#content { display: block; width: 900px; margin: 70px auto; padding: 35px; border: 1px solid #cbcbcb; background-color: #FFF; -moz-border-radius: 5px; -webkit-border-radius:5px; }

/* Form style */

#content label { display: inline-block; float: left; height: 26px; line-height: 26px; width: 155px; font-size: 1.5em; }
#content input, textarea, select { display:block; margin:10px; width: 280px; margin: 0; padding: 5px; color: #666; background: #f5f5f5; border: 1px solid #ccc; margin: 5px 0; font:1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; -moz-border-radius: 5px; -webkit-border-radius:5px; }   
#content input:focus, textarea:focus, select:focus { border: 1px solid #999; background-color: #fff; color:#333; }

#content fieldset { padding:20px; border:1px solid #eee; -moz-border-radius: 5px; -webkit-border-radius:5px; }
#content legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; -moz-border-radius: 5px; -webkit-border-radius:5px; }
#content textarea{width: 350px; height: 100px;}
#content span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */
#content a{color:#4E7C6A;}
#content a:hover{text-decoration:none; color:#444;}
#content h1{margin-bottom:20px;}

/* Style for the error message */

.error{color:#FF6262; font-size:1.1em;}

span.logout{float:right;}

#menu ul li{list-style-type:none; display:inline; font-size:15px; margin:5px;}

#menu ul li a{text-decoration:none; color:#333;}

#main {margin-top:50px;}

#main h1 a{color:#333; text-decoration:none;}

#main h1 a:hover{color:orange;}

form{margin-top:50px;}


#commentaires{padding-top:50px; border-top:solid 1px #777;}

.com{border-top:solid 1px #F1F1F1; border-bottom:solid 1px #F1F1F1; padding:10px;}

span.auteur{font-size:20px; color:#4E7C6A;}
span.auteur a{font-size:15px; color:#4E7C6A;}

.success{width:50%; height:20px; line-height:20px; color:#149541; font-size:1.3em;}
.codesource{
    height: auto;
    width: auto;
    background-color: #c0c0c0;
    border-radius: 3px;
    color:white;
    padding : 1px;
   padding-left : 3px;
    margin: 2px;
}
.remarque{
        height: auto;
    width: auto;
    background-color: #dc2400;
    border-radius: 3px;
    color:white;
    padding : 1px;
   padding-left : 3px;
    margin: 2px;
    
}
.sucess{
        height: auto;
    width: auto;
    background-color: #00aa17;
    border-radius: 3px;
    color:white;
    padding : 1px;
   padding-left : 3px;
    margin: 2px;
    
}
